// there is no design of colors or anytihing - started layot and flexing
.content {
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
}

.content .wrapper {
    background-color: white;
    padding: 0;
}

// this wrapper inner dynamic section of recipe and image
.recipeWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2em 3em;
}

h2,
h3,
li,
ul,
li {
    padding: 1em 3em;
    margin: 0 auto;
}

li {
    padding: 1em;
}

li::before {
    content: "c"
}

h2 {
    text-align: center;
    background-color: #39CCCC;
}

p {
    font-size: 16px;
    width: calc((100% / 2) - 5em);
    // float: left;
    padding: 0 4em 1em;
    flex: 1 0 400px;
    text-align: justify;
    line-height: 1.4;
}

// image wraps under the recipe section
img {
    width: calc((100% / 2) - 5em);
    height: 100%;
    flex: 1 0 300px;
}