// global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chilanka', cursive;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

body {
    // this is just random placeholder image related to food we will chnage it
    background-image: url(https://source.unsplash.com/random/900×900/?kitchen);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-blend-mode: lighten;
}

// result section style
span {
    font-weight: bold;
    font-size: 1.3rem;
}