.inputSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input,
button {
    font-size: 2rem;
    font-family: 'Chilanka', cursive;
    margin: 0.2em;
    border: solid 1px;
    border-radius: 0.2em;
    padding: 0.3em;
    background-color: lightgoldenrodyellow;
}

input {
    border-color: white;
    width: 50%;
}

button {
    border-color: rgb(0, 0, 0);
    padding: 1em auto;
    text-align: center;
    flex: 1 1 50px;
    max-width: 5em;
    max-height: 2.5em;
}

input:hover {
    background-color: rgb(188, 253, 188);
}

input:focus {
    background-color: rgb(141, 250, 141);
}

::placeholder {
    color: goldenrod;
}

button:hover,
button:focus {
    box-shadow: 0.2em 0.2em 0.2em grey;
    border: solid 1px;
    border-color: rgb(141, 250, 141);
    background-color: rgb(141, 250, 141);
}

button:active {
    transform: scale(0.9);
    font-weight: bold;
    transition: all 0.5s;
    border: solid 1px;
}

.warning {
    display: none;
    background-color: lightgoldenrodyellow;
    width: 50%;
    margin: 1em auto;
    padding: 1em;
    border: solid 2px red;
    text-align: center;
}

.nameSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 0;
    width: 70%;
    margin: 0 auto;
}

h2 {
    font-family: 'Chilanka', cursive;
    color: white;
    margin: 2em 0 0.5em;
    font-size: 2em;
    font-weight: normal;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
