@media (max-width: 1024px) {
    input {
        width: 60%;
    }
     ::placeholder {
        font-size: 25px;
    }
    button {
        font-size: 25px;
    }
    h2 {
        width: 100%;
        margin: 0;
        padding: 1em 0;
    }
}

@media(max-width: 700px) {
    .wrapper,
    li {
        padding: 0;
        width: 95%;
        margin: 0 auto;
    }
    .wrapper p {
        padding: 0;
        width: 100%;
    }
    h3 {
        padding: 1em;
        width: 100%;
        margin: 0 auto;
    }
    input {
        width: 60%;
    }
}

@media (max-width: 540px) {
    input {
        width: 100%;
        text-align: center;
    }
    button {
        width: 30%;
        font-size: 15px;
    }
}
